



{{#partial "content"}}


    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <form action="/successAnimal" method="post">
                    <label for="animalName">Animal's name</label>
                    <input type="text" name="animalName" id="animalName" class="form-control">
                    <label for="animalAge">Animal's age</label>
                    <select name="animalAge" id="animalAge" class="form-control">
                        <option value="">Select the animal's age</option>
                        <option value="newborn">Newborn</option>
                        <option value="young">Young</option>
                        <option value="adult">Adult</option>
                    </select><br>
                    <button type="submit" class="btn btn-warning">Add new animal</button>
                </form>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>

    <a href = "/" style=" margin-right: 5%;">Go back to homepage</a>

{{/partial}}
{{>layout.hbs}}