<!DOCTYPE html>
<html>
<head>
    <title>{{#block "title"}}wildlife-tracker{{/block}}</title>

    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
</head>
<body style="overflow-x: hidden;">

<ul class="nav nav-tabs">
    <li role="presentation" class="active"><a href="#">Home</a></li>
<!--    <li role="presentation" class="active"><a href="/ranger">Add Ranger</a></li>-->
    <li role="presentation" class="active"><a href="/animalsgeneral">Add Animal</a></li>
    <li role="presentation" class="active"><a href="/allsightings">Add New Sightings</a></li>
<!--    <li role="presentation" class="active"><a href="/location">Location</a></li>-->
</ul>
<div class="container">
    <!--begin main template-->
    <div class="page-header">
    </div>

    <div class="col-md-12">
        {{#block "content"}}
        {{/block}}

    </div>
</div>
<!--end main template-->
{{#block "footer"}}
    </body>
    </html>
{{/block}}