{{#partial "content"}}

    <div class="container">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <form action="/allAnimals/new" method="post">
                    <label for="animalType">Animal type</label>
                    <select name="animalType" id="animalType" class="form-control">
                        <option value=""></option>
                        <option value="animal">Animal</option>
                        <option value="animal">Endangered Animal</option>
                    </select><br>
                    <label for="locationSpotted">Location Spotted</label>
                    <select name="locationSpotted" id="locationSpotted" class="form-control">
                        <option value="locationSpotted"></option>
                        <option value="locationSpotted">River Banks</option>
                        <option value="locationSpotted">Uptown Forest</option>
                    </select><br>
                    <label for="rangerName">Name of the ranger</label>
                    <select name="rangerName" id="rangerName" class="form-control">
                        <option value=""></option>
                        <option value="Esther Moki">Esther Moki</option>
                        <option value="Jon Snow">Jon Snow</option>
                    </select><br>

                    <button type="submit" class="btn btn-warning">Add new animal sighted</button>
                </form>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
    <a href = "/" style=" margin-right: 5%;">Go back to homepage</a>
{{/partial}}
{{>layout.hbs}}


