{{#partial "content"}}

    <div class="container">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <form action="/successSightings">
                    <label for="animalType">Animal type</label>
                    <input type="text" name="animalType" id="animalType" class="form-control">
                    <label for="locationSpotted">locationSpotted</label>
                    <input type="text" name="locationSpotted" id="locationSpotted" class="form-control">
                    <label for="rangerName">Name of the ranger</label>
                    <input type="text" name="rangerName" id="rangerName" class="form-control">
                    <button type="submit" class="btn btn-warning">Add new animal sighted</button>
                </form>
            </div>
            <div class="col-md-3"></div>
        </div>
        <a href = "/" style=" margin-right: 5%;">Go back to homepage</a>
    </div>

{{/partial}}
{{>layout.hbs}}


