{{#partial "content"}}

    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <form action="/">
                    <label for="locationSpotted">Location Spotted</label>
                    <input type="text" name="locationSpotted" id="locationSpotted" class="form-control">
                </form>
            </div>
            <div class="col-md-2"></div>
        </div>
        <a href = "/" style=" margin-right: 5%;">Go back to homepage</a>
    </div>
{{/partial}}
{{>layout.hbs}}