{{#partial "content"}}
    <div class="container">
        <div class="success">
            <h2>You just added a new animal</h2>
            Animal name:{{animalName}}.<br>
            Animal's Age:{{animalAge}}.<br>
            Animal's Id:{{ id }}.<br>
        </div>
    </div>
    <a href = "/sightinganimal" style=" margin-right: 5%;"><button class="btn btn-success">Go back to add new animal</button></a>
    <a href="/">Go Back to Homepage</a>
{{/partial}}
{{> layout.hbs}}
