{{#partial "content"}}
    <div class="container">
        <div class="success">
            <h2>You just added a new animal sighting</h2>
            Animal Type:{{animalType}}.<br>
            Location Spotted: {{locationSpotted}}.<br>
            Name of the Ranger: {{rangerName}}.<br>
            <a href = "/allsightings"><button class="btn btn-success">Go back to add new animal</button></a>
        </div>
    </div>
{{/partial}}
{{> layout.hbs}}

