{{#partial "content"}}
    <div class="container">
        <div class="success">
            <h2>You just added a new animal</h2>
            Endangered animal Name:{{animalNameEndangered}}.<br>
            Endangered  animal's age: {{animalAgeEndangered}}.<br>
            Endangered  animal's health: {{animalHealth}}.<br>
        </div>
    </div>
    <a href = "/successEndangered"><button class="btn btn-success">Go back to add new endangered animal</button></a>
{{/partial}}
{{> layout.hbs}}
